/ArmstrongNumber.class
/DigitAddition.class
/First1.class
/FrequencyofDigits.class
/MenuDrivenDoWhileLoop.class
/Numberreverse.class
/PrimeNoExample.class
/SimpleForLoop.class
/SimpleIfElseExample.class
/StarPatternExample1.class
/VowelsConsnant.class
/WhileExample1.class
/greatestDigit.class
